In [23]:
import kaggle as k 
import pandas as pd 
import kagglehub
import seaborn as sns

In [7]:
kagglehub.dataset_download("ak0212/indian-bike-sales-dataset")

Downloading from https://www.kaggle.com/api/v1/datasets/download/ak0212/indian-bike-sales-dataset?dataset_version_number=1...

100%|██████████| 266k/266k [00:00<00:00, 288kB/s]

Extracting files...

'C:\\Users\\ADMIN\\.cache\\kagglehub\\datasets\\ak0212\\indian-bike-sales-dataset\\versions\\1'

In [9]:
bikes = pd.read_csv('bike_sales_india.csv')
bikes.head()

,State,Avg Daily Distance (km),Brand,Model,Price (INR),Year of Manufacture,Engine Capacity (cc),Fuel Type,Mileage (km/l),Owner Type,Registration Year,Insurance Status,Seller Type,Resale Price (INR),City Tier
0,Karnataka,68.84,Royal Enfield,Hunter 350,252816,2021,672,Electric,78.41,Second,2024,Active,Individual,149934.18,Tier 3
1,Rajasthan,23.80,Bajaj,Dominar 400,131100,2020,769,Hybrid,89.98,Third,2023,Active,Individual,66960.30,Tier 3
2,Madhya Pradesh,27.67,KTM,125 Duke,201016,2020,216,Hybrid,71.46,Second,2023,Active,Dealer,141522.64,Tier 3
3,Karnataka,62.85,Kawasaki,Ninja 300,132482,2021,556,Petrol,51.73,Third,2021,Active,Dealer,56057.22,Tier 1
4,Madhya Pradesh,10.62,Yamaha,FZ V3,231796,2019,298,Petrol,54.72,Third,2019,Not Available,Individual,132538.36,Tier 3

In [10]:
bikes.info(), bikes.describe(), bikes.isnull().sum() # no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   State                    10000 non-null  object
 1   Avg Daily Distance (km)  10000 non-null  float64
 2   Brand                    10000 non-null  object
 3   Model                    10000 non-null  object
 4   Price (INR)              10000 non-null  int64
 5   Year of Manufacture      10000 non-null  int64
 6   Engine Capacity (cc)     10000 non-null  int64
 7   Fuel Type                10000 non-null  object
 8   Mileage (km/l)           10000 non-null  float64
 9   Owner Type               10000 non-null  object
 10  Registration Year        10000 non-null  int64
 11  Insurance Status         10000 non-null  object
 12  Seller Type              10000 non-null  object
 13  Resale Price (INR)       10000 non-null  float64
 14  City Tier                10000 non-null  object
dtypes: float64(3), int64(4), object(8)
memory usage: 1.1+ MB

(None,
        Avg Daily Distance (km)    Price (INR)  Year of Manufacture  \
 count             10000.000000   10000.000000         10000.000000
 mean                 42.533128  224328.722400          2019.510500
 std                  21.676985  100753.660447             2.907668
 min                   5.010000   50031.000000          2015.000000
 25%                  23.907500  137900.250000          2017.000000
 50%                  42.480000  223878.000000          2019.000000
 75%                  61.352500  311464.250000          2022.000000
 max                  80.000000  399981.000000          2024.000000

        Engine Capacity (cc)  Mileage (km/l)  Registration Year  \
 count          10000.000000    10000.000000        10000.00000
 mean             552.695300       67.188926         2020.96510
 std              261.176292       20.891728            2.74897
 min              100.000000       25.000000         2015.00000
 25%              327.000000       50.680000         2019.00000
 50%              553.000000       69.850000         2022.00000
 75%              780.000000       84.542500         2023.00000
 max             1000.000000      100.000000         2024.00000

        Resale Price (INR)
 count        10000.000000
 mean        133828.973998
 std          66613.220382
 min          20532.070000
 25%          78680.905000
 50%         128148.340000
 75%         181048.192500
 max         317302.450000  ,
 State                      0
 Avg Daily Distance (km)    0
 Brand                      0
 Model                      0
 Price (INR)                0
 Year of Manufacture        0
 Engine Capacity (cc)       0
 Fuel Type                  0
 Mileage (km/l)             0
 Owner Type                 0
 Registration Year          0
 Insurance Status           0
 Seller Type                0
 Resale Price (INR)         0
 City Tier                  0
 dtype: int64)

In [12]:
bikes.columns = bikes.columns.str.lower().str.replace(' ', '_')
bikes.columns

Index(['state', 'avg_daily_distance_(km)', 'brand', 'model', 'price_(inr)',
       'year_of_manufacture', 'engine_capacity_(cc)', 'fuel_type',
       'mileage_(km/l)', 'owner_type', 'registration_year', 'insurance_status',
       'seller_type', 'resale_price_(inr)', 'city_tier'],
      dtype='object')

In [33]:
bikes.rename(columns={'avg_daily_distance_(km)':'avg_daily_distance','price_(inr)':'price_inr','resale_price_(inr)':'resale_price_inr'},inplace=True)

In [36]:
bikes.rename(columns={'mileage_(km/l)':'mileage','engine_capacity_(cc)':'engine_capacity'},inplace=True)

In [37]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:Karandeep2417@localhost:3306/datawarehouseanalytics')
conn = engine.connect()

In [38]:
bikes.to_sql('bikes',con=conn,if_exists='replace',index=False)

10000